html{
	height:100%;
	width:100%;
}

body{
	background-image:url("../../src/images/weatherBackground.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size:20px;
    font-family:"Times New Roman", Georgia, Serif;
    color:#fff;
    overflow:hidden;
}

#HomePage{
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

#HomePage input,#HomePage button,#HomePage select{
	width:100%;
	padding:5px 0px 5px 0px;
	border-radius: 5px;
}

#HomePage div{
	margin-bottom:10%;
	width:100%;
}

h1{
	text-align:center;
}

button{
	margin-top: 5%;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

 button:hover{
 	background-color:grey;
 }

table th, table td,table td div{
	 padding: 10px;
}

table{
	background-color:black;
}

.errorText{
	color:red;
}

.noteText{
	font-size:16px;
}